include _includes/html/header.html

| <main style="background: url(https://sparta-vt.ru//custom/my/img/bcg_main_site.png) no-repeat;background-size:cover;background-attachment: fixed; ">
include _includes/pug/advantages.pug
include _includes/pug/tab.pug
include _includes/html/main.html
| </main>

include _includes/html/footer.html

