@use "sass:math";

// Переменые ===============================================================================================================================================================================================================================================================================================
@import "variables";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "mixins";

// fonts
@import "fonts";

//resets
@import "reset";



// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
html {
	height: 100%;

	body {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		font-family: $font-family, sans-serif;
		font-weight: 400;
		font-size: 20px;
		color: #2a2627;
		@include adaptiveValue("font-size", 18, 13);
		line-height: lh(18, 30);
		overflow-x: hidden;
		// Прижимаем footer
		> main {
			flex: 1 1 auto;
		}
	}

	// Ограничивающий контейнер ======================================================================================================================================================================================================================
	[class*="__container"] {
		max-width: $maxWidthContainer + px;
		width: 100%;
		@include adaptiveValue("font-size", 18, 13);
		margin: 0 auto;
		padding: 0 15px;
        overflow: hidden;

	}

	.container {
		max-width: $maxWidthContainer + px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;
	}


	[class*="btn"] {
		cursor: pointer;
		&:hover {
			opacity: .9;
		}
	}

}

