<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://www.autozavod.com/shared/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://www.autozavod.com/shared/css/prettyPhoto.css"/>
    <link rel="stylesheet" type="text/css" href="https://www.autozavod.com/custom/style.css?v=8"/>
    <link rel="stylesheet" type="text/css" href="https://www.autozavod.com/shared/css/form.css"/>
    <link rel="stylesheet" type="text/css" href="https://www.autozavod.com/js/lib/flexslider/flexslider.css"/>
    <script type="text/javascript" src="https://www.autozavod.com/shared/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://www.autozavod.com/assets/a4c1bf0c/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://www.autozavod.com/assets/a4c1bf0c/jquery.treeview.js"></script>
    <script type="text/javascript" src="https://www.autozavod.com/assets/a4c1bf0c/jquery.treeview.edit.js"></script>
    <script type="text/javascript" src="https://www.autozavod.com/assets/a4c1bf0c/jquery.treeview.async.js"></script>
    <script type="text/javascript" src="https://www.autozavod.com/shared/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.autozavod.com/shared/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="https://www.autozavod.com/js/lib/inputmask/inputmask.js"></script>
    <script type="text/javascript"
            src="https://www.autozavod.com/js/lib/inputmask/inputmask.phone.extensions.js"></script>
    <script type="text/javascript" src="https://www.autozavod.com/js/lib/inputmask/jquery.inputmask.js"></script>
    <script type="text/javascript" src="https://www.autozavod.com/js/lib/BannerCarusel/banners.js?v=2"></script>
    <script type="text/javascript" src="https://www.autozavod.com/js/lib/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="https://www.autozavod.com/shared/js/langSwitcher.js"></script>
    <title>Renault Duster</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" href="/custom/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/custom/favicon.ico" type="image/x-icon">

    <link rel="canonical" href="https://www.autozavod.com/auto/216">
    <link rel="alternate" hreflang="ru" href="https://www.autozavod.com/auto/216"/>
    <link rel="alternate" hreflang="kk-kz" href="https://www.autozavod.com/auto/216"/>
    <link type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=latin,cyrillic-ext"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/custom/my/assets/css/main.css"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109045331-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-109045331-1');
        gtag('set', {'user_id': 'USER_ID'}); // Задание идентификатора пользователя с помощью параметра user_id (текущий пользователь).
        setTimeout(function () {
            gtag(‘event’,
            location.pathname, {
‘event_category’: ‘Новый
            посетитель’
        })
            ;
        }, 15000);
    </script>

</head>
<body>
<div id="body">
    <div class="langSwitcher">
        <div class="langList">
            <div class="langActive"><a class="lang lang_ru" href="https://www.autozavod.com/auto/216">Русский</a></div>
            <div><a class="lang lang_kaz" href="https://www.autozavod.kz/auto/216">Қазақ тілі</a></div>
        </div>
    </div>
    <table id="header">
        <tr>
            <td class="h_logo">
                <a href="/" title="ИнвестАвто. Переоборудование, производство и продажа спецавтомобилей"><img
                        src="/images/logo_invest_ru.gif" width="328" height="47" border="0"
                        alt="ИнвестАвто. Переоборудование, производство и продажа спецавтомобилей"/></a>
            </td>
            <td class="h_title">
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                    (function (m, e, t, r, i, k, a) {
                        m[i] = m[i] || function () {
                            (m[i].a = m[i].a || []).push(arguments)
                        };
                        m[i].l = 1 * new Date();
                        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
                    })
                    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                    ym(17913346, "init", {
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true
                    });
                </script>
                <noscript>
                    <div><img src="https://mc.yandex.ru/watch/17913346" style="position:absolute; left:-9999px;"
                              alt=""/></div>
                </noscript>
                <!-- /Yandex.Metrika counter --> <h2 class="title">
                Продажа спецавтомобилей - переоборудование и производство<br/>
            </h2>
            </td>
            <td class="h_phones">
                <div class="phone"><span class="glyphicon glyphicon-earphone"></span> +7 (831) 415-00-59</div>
                <!-- <div class="block-phones"><div class="email" style="display: inline-block"><span class="icon glyphicon glyphicon-envelope"></span><a data-toggle="modal" data-target="#request-modal-form-dir" data-backdrop="false" href="/request/orderdir/">Письмо директору</a></div></div> -->
                <!--<div class="block-mail"><div class="email" style="display: inline-block"><a data-toggle="modal" data-target="#request-modal-form" data-backdrop="false" href="/request/order/">Заказать автомобиль</a></div></div>-->
                <div class="block-mailto">
                    <div class="toemail" style="display: inline-block"><a href="mailto:info@autozavod.com">info@autozavod.com</a>
                    </div>
                </div>


                <!--div style="clear: both; margin: 0 0 5px 5px"><a href="http://lk.mango-office.ru/widget/MTAwMDE2MDM=?lang=ru-ru" class="mangotele_btn" onclick="window.open(this.href, '_blank', 'width=238,height=350,resizable=no,toolbar=no,menubar=no,location=no,status=no');
                        return false;">ЗВОНОК ON-LINE</a></div-->


            </td>

        </tr>

        <tr>
            <td colspan="3">
                <ul class="nav nav-pills">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            О компании <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/">О компании</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                            <li><a href="/vacancy">Вакансии</a></li>
                            <li><a href="/certificate">Сертификаты</a></li>
                            <li><a href="/page/thanks">Отзывы</a></li>
                            <li><a href="/page/proizvodstvo">Производство</a></li>
                            <li><a href="/page/video">Видеоролики</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/catalog/">
                            Cпецавтомобили <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/catalog/">Cпецавтомобили</a></li>
                            <li><a href="/catalog/71">Автомобили в наличии</a></li>
                            <li><a href="/catalog/na-baze-vis">На базе ВИС 2346 и 2349</a></li>
                            <li><a href="/catalog/lada_largus">На базе Lada Largus</a></li>
                            <li><a href="/catalog/skoraya_pomosch">Медицинские автомобили</a></li>
                            <li><a href="/catalog/74">Передвижные мастерские</a></li>
                            <li><a href="/catalog/mchs">Автомобили для МЧС</a></li>
                            <li><a href="/catalog/mvd">Автомобили для МВД</a></li>
                            <li><a href="/catalog/school_bus">Школьные автобусы</a></li>
                            <li><a href="/catalog/invalid">Перевозка инвалидов</a></li>
                            <li><a href="/catalog/katafalk">Ритуальные автомобили</a></li>
                            <li><a href="/catalog/veterinarnye_avtomobili">Ветеринарные автомобили</a></li>
                            <li><a href="/catalog/laboratory">Передвижные лаборатории</a></li>
                            <li><a href="/catalog/road_service">Дорожные автомобили</a></li>
                            <li><a href="/catalog/emergency">Аварийные службы</a></li>
                            <li><a href="/catalog/54">Мобильные офисы</a></li>
                        </ul>
                    </li>
                    <!--    <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Евросалоны <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" >
                                <li><a href="/page/eurosalon">Евросалоны скорой помощи</a></li>
                                <!--li><a href="https://www.autozavod.com/files/bergadana/bergadana_omnia.pdf" target="_blank">Салон АСМП класса B на базе Mersedes</a> </li>
                                <li><a href="https://www.autozavod.com/files/bergadana/bergadana_absolut_b.pdf" target="_blank">Салон АСМП класса B</a></li>
                                <li><a href="https://www.autozavod.com/files/bergadana/bergadana_absolut_b.pdf" target="_blank">Салон АСМП класса C</a></li>
                                <li><a href="https://www.autozavod.com/files/bergadana/bergadana_asmp_a_fiat.pdf" target="_blank">Салон АСМП класса A</a></li>
                                <li><a href="https://www.autozavod.com/files/bergadana/bergadana_vito.pdf" target="_blank">Салон катафалка на базе Mersedes Vito</a></li>
                                <li><a href="https://www.autozavod.com/files/bergadana/bergadana_versatile.pdf" target="_blank">Салон инвалидного микроавтобуса</a></li
                            </ul>
                        </li>
                        <li class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Catalog <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" >
                                <li><a href="/page/catalogauto">The catalogue of cars</a></li>
                            </ul>

                        </li>
                        <li class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Каталоги <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" >
                                <li><a href="/page/catalogiauto">Каталоги автомобилей</a></li>
                            </ul>

                        </li> -->


                    <!--li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Медоборудование <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a href="/med/index">Медоборудование</a></li>
                            <li><a href="/med/sale">Распродажа</a></li>
                        </ul>
                    </li-->
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/service_and_garanty">
                            Сервис <span class="caret"></span>

                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/leasing">Лизинг</a></li>
                            <li><a href="/service_and_garanty">Гарантия</a></li>
                            <li><a href="/dealers">Дилерам</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/catalog/47">
                            Автомобили в наличии </a>


                    </li>
                    <li><a href="/contacts">Контакты</a></li>
                    <li><a href="https://auto-plant.ru/" target="_blank">Новый сайт</a></li>
                </ul>

                </li>
                </ul>
            </td>
        </tr>
    </table>

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr valign="top">
            <td id="content">

                <div class="content">
                    <div class="breadcrumbs">
                        <a href="/">Главная</a> &raquo; <a href="/catalog/specautomobili">Каталог спецавтомобилей</a>
                        &raquo; <a href="/catalog/71">Автомобили в наличии</a> &raquo; <span>Renault Duster</span></div>
                    <h1 class="namepage">Renault Duster</h1>

                    <p>Продаём Renault Duster. 2 поколение.
                        Полноприводный автомобиль с дизельным двигателем и механической коробкой передач. Состояние
                        автомобиля - как на фотографиях.
                        Комплектация Life.
                        Поврежденных элементов в автомобиле нет.
                        2021 год выпуска.
                        Пробег 480 км.</p><img class="imageAuto" src="/files/auto/img_216_799.jpg" alt="Renault Duster"
                                               title="Renault Duster"/>
                    <table class="price-block1">
                        <tr>
                            <td class="title">Цена: 2 300 000 р.</td>
                        </tr>
                    </table>


                    <div class="buttons-block">
                        <!--a class="btn btn-primary" href="/request/callback/">Заказать обратный звонок</a
                        <a class="btn btn-primary" data-toggle="modal" data-target="#request-modal-form" data-backdrop="false" href="/request/orderAuto/id/216">Заявка на автомобиль</a>
                        <a class="btn btn-primary" href="/request/orderCatalog/id/216">Заявка на автомобиль</a>    -->
                    </div>

                    <br clear="all"/>





                    <h3>
                        <h2>Фотографии Renault Duster<h2>
                    </h3>


                    <!--                <span :class="{-->
                    <!--                    'primary': true,-->
                    <!--                    'bold': myNote.length > 5-->
                    <!--                }">{{i + 1}} {{ toUpperCase(myNote) }}</span>-->


                    <div class="gallery">

                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2483.jpg">
                                <img src="https://www.autozavod.com//c/autos/24/8/2483.jpg" alt="Renault Duster">
                            </a>
                        </div>

                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2476.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/7/2476.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2468.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/6/2468.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2478.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/7/2478.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2477.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/7/2477.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2480.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/8/2480.jpg" alt="Renault Duster">
                            </a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2475.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/7/2475.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2462.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/6/2462.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2474.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/7/2474.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2473.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/7/2473.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2481.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/8/2481.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2471.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/7/2471.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2469.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/6/2469.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2470.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/7/2470.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2467.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/6/2467.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2464.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/6/2464.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2463.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/6/2463.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2465.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/6/2465.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2466.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/6/2466.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2472.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/7/2472.jpg" alt="Renault Duster"></a>
                        </div>
                        <div class="el">
                            <a href="https://www.autozavod.com/files/auto/img_auto_216_2482.jpg" rel="prettyPhoto[]"
                               title="Renault Duster">
                                <img src="https://www.autozavod.com//c/autos/24/8/2482.jpg" alt="Renault Duster"></a>
                        </div>
                    </div>


                    <div class="gallery" id='gallery'>
                        <div
                                class="el"
                                v-for="(item, i) in evenItems"
                                :key="item"
                                @click="handler_show(i)"
                        >
                            <img :src="item[0]" alt="">
                        </div>

                        <div :class="['modal-popup', {'is-open': show_popup}]" @click="remove_show">
                             <div class="modal-popup__container modal-popup-open modal-popup-gallery" @click.stop
                                 data-target="first">

                                 <div class="gallery__inner-img">
<!--                                     <div class="arr-left">1</div>-->
                                     <img :src="img_large" alt="">
<!--                                     <div class="arr-right">2</div>-->
                                 </div>

                                 <div class="gallery__nav">
                                     <div class="gallery__nav-previous" @click="prev" v-if="number > 1">Предыдущая</div>
                                     <p class="gallery__nav-currentText">{{number}} / {{items.length}}</p>
                                     <div class="gallery__nav-next" @click="next" v-if="number < items.length">Следующая</div>
                                 </div>

                            </div>
                        </div>

                    </div>
                </div>




                <div class="description-auto"><p>Renault Duster<br/>
                    Двигатель K9KR858D157890<br/>
                    Экологический класс - пятый<br/>
                    Год выпуска 2021<br/>
                    Двигатель дизельный<br/>
                    Мощность л.с (кВт) 109 (80)<br/>
                    Рабочий объём двигателя (в куб.см) 1461<br/>
                    Цвет белый<br/>
                    Цвет салона - чёрный<br/>
                    МКПП</p>
                </div>
                <div class="invitation">Все автомобили новые, без пробега, с подготовленным пакетом всех необходимых
                    документов!
                </div>
                <div clear="all"></div>
</div>
</td>
<td id="rightcolumn">

    <div class="newsBlock">
        <h3 class="titleBlock"><a href="/news/">Новости</a></h3>
        <div class="body">
            <div class="news">
                <div class="title"><a href="https://www.autozavod.com/news/view/id/62/">ИнвестАвто принимает участие в
                    выставке "Здравоохранение - 2022"</a></div>
                <p class="anonce">С 4 по 9 декабря 2022 года</p></div>
            <div class="news">
                <div class="title"><a href="https://www.autozavod.com/news/view/id/60/">С наступающим 2023 Новым годом и
                    Рождеством!</a></div>
                <p class="anonce">Коллектив завода спецавтомобилей "ИнвестАвто" поздравляет с наступающим Новым годом и
                    Рождеством!</p></div>
        </div>
    </div>


    <div id="menu_catalog">
        <ul 0="" id="yw0">
            <li class="open" id="node2"><a href="/catalog/specautomobili">Каталог спецавтомобилей</a>
                <ul>
                    <li class="open" id="node71"><a href="/catalog/71">Автомобили в наличии</a></li>
                    <li class="open" id="node73"><a href="/catalog/na-baze-vis">На базе ВИС 2346 и 2349</a>
                        <ul>
                            <li class="open" id="node77"><a href="/catalog/na-baze-vis-2346-niva">Спецавтомобили на базе
                                ВИС 2346 Niva</a></li>
                            <li class="open" id="node78"><a href="/catalog/vis-2349-lada-granta">Спецавтомобили на базе
                                ВИС 2349 Lada Granta</a></li>
                            <li class="open" id="node80"><a href="/catalog/80">Шасси ВИС 2346 Niva и 2349 Granta</a>
                            </li>
                            <li class="open" id="node81"><a href="/catalog/81">Удлинение шасси (рамы) ВИС 2346 Niva и
                                ВИС 2349 Granta</a></li>
                        </ul>
                    </li>
                    <li class="open" id="node52"><a href="/catalog/lada_largus">На базе Lada Largus</a></li>
                    <li id="node3"><a href="/catalog/skoraya_pomosch">Медицинские автомобили</a>
                        <ul>
                            <li class="open" id="node65"><a href="/catalog/sanitarnyeavtomobili_na_baze_lada">Санитарные
                                автомобили на базе Lada Granta</a></li>
                            <li class="open" id="node82"><a href="/catalog/82">Санитарные автомобили на базе Lada
                                Niva</a></li>
                            <li id="node41"><a href="/catalog/largus_skoraya_pomosh">Санитарные автомобили на базе Lada
                                Largus</a></li>
                            <li id="node8"><a href="/catalog/skoraya_pomosch/uaz">Скорая медицинская помощь на базе
                                УАЗ</a></li>
                            <li class="open" id="node60"><a href="/catalog/skoraya_medicinskaya_pomosh_na_baze_sobol">Скорая
                                медицинская помощь на базе Соболь Бизнес</a></li>
                            <li class="open" id="node7"><a href="/catalog/skoraya_pomosch/gazel">Скорая медицинская
                                помощь на базе ГАЗель Бизнес</a></li>
                            <li class="open" id="node61"><a
                                    href="/catalog/skoraya_medicinskaya_pomosh_na_baze_gazel_next">Скорая медицинская
                                помощь на базе ГАЗель Next</a></li>
                            <li class="open" id="node72"><a href="/catalog/72">Скорая медицинская помощь на базе МАЗ
                                365022</a></li>
                            <li class="open" id="node9"><a href="/catalog/skoraya_pomosch/ford">Скорая медицинская
                                помощь на базе Ford Transit</a></li>
                        </ul>
                    </li>
                    <li class="open" id="node74"><a href="/catalog/74">Передвижные мастерские</a></li>
                    <li class="open" id="node17"><a href="/catalog/mchs">Автомобили для МЧС</a>
                        <ul>
                            <li class="open" id="node64"><a href="/catalog/64">Аварйно-спасательные автомобили МЧС</a>
                            </li>
                        </ul>
                    </li>
                    <li class="open" id="node16"><a href="/catalog/mvd">Автомобили для МВД</a></li>
                    <li class="open" id="node6"><a href="/catalog/school_bus">Школьные автобусы</a></li>
                    <li class="open" id="node4"><a href="/catalog/invalid">Перевозка инвалидов</a></li>
                    <li class="open" id="node5"><a href="/catalog/katafalk">Ритуальные автомобили</a></li>
                    <li class="open" id="node53"><a href="/catalog/veterinarnye_avtomobili">Ветеринарные автомобили</a>
                    </li>
                    <li id="node20"><a href="/catalog/laboratory">Передвижные лаборатории</a></li>
                    <li class="open" id="node18"><a href="/catalog/road_service">Дорожные автомобили</a></li>
                    <li class="open" id="node25"><a href="/catalog/emergency">Аварийные службы</a></li>
                    <li class="open" id="node54"><a href="/catalog/54">Мобильные офисы</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="sert_block">
        <div class="title">Сертификаты <a href="/certificate"
                                          title="Сертификаты соответствия на работы по переоборудованию автомобилей">смотреть
            все</a></div>
        <a href="/certificate.php#prettyPhoto[certif_TO]/0/"><img src="/files/certificates/certif_TO.jpg"/></a>
        <a href="/certificate.php#prettyPhoto[certif_TO]/4/"><img src="/files/certificates/evidence_VIN.jpg"/></a>
    </div>
    <ul class="centerLinks">
        <!--   <li><a href="/util" title="Утилизация">Утилизация</a></li>-->
        <li><a href="/exhibitions" title="Участие в выставках">Участие в выставках</a></li>
        <li><a href="/our_work" title="Выполненная работа">Выполненная работа</a></li>
    </ul>
</td>
</tr>
</table>


<div id="footer">
    <div class="box">

        <div class="title_footer">ООО «ИнвестАвто» 2023</div>
        <div class="descr">Завод спецавтомобилей. Переоборудование автомобилей, производство и продажа</div>

        <a class="develop-glsv" target="_blank" href="http://glsv.su">Разработка сайта - glsv.su</a>
    </div>

</div>
</div>


<!-- Modal -->
<div class="modal fade" id="request-modal-form-dir" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDir"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelDir">Письмо директору</h4>
            </div>
            <div class="modal-body">
                <p>Пожалуйста, подождите...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87288926-1', 'auto');
    ga('send', 'pageview');

</script>

<script>
    (function (w, d, s, h, id) {
        w.roistatProjectId = id;
        w.roistatHost = h;
        var p = d.location.protocol == "https:" ? "https://" : "http://";
        var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/" + id + "/init";
        var js = d.createElement(s);
        js.charset = "UTF-8";
        js.async = 1;
        js.src = p + h + u;
        var js2 = d.getElementsByTagName(s)[0];
        js2.parentNode.insertBefore(js, js2);
    })(window, document, 'script', 'cloud.roistat.com', '39d7f36d648199e828be3106eb50857f');
</script>

<script type="text/javascript">
    /*<![CDATA[*/
    jQuery(function ($) {
        jQuery("#yw0").treeview({'collapsed': true});
    });
    /*]]>*/
</script>
<script src="https://unpkg.com/vue@next"></script>
<script src="/custom/my/assets/js/main.js"></script>
</body>
</html>


