<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head class="openPopup">
    <link rel="stylesheet" href="https://sparta-vt.ru/css/jquery.fancybox.min.css" type="text/css" media="screen"
          title="stylesheet" charset="utf-8">
    <meta name="robots" content="all">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://sparta-vt.ru/news/rss/">
    <title>ООО «Спарта»</title>
    <meta charset="utf-8">
    <meta content="English" name="language">
    <meta content="DIAFAN.CMS https://www.diafan.ru/" name="author">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="8456551fd1a79b56"/>
    <meta name="google-site-verification" content="aurHFfSVjJZf9kgIzryayfbE9n5CXAPqyKjWCNRODlU"/>
    <meta name="description"
          content="Материалы для строительства и ремонта линий связи, волоконно-оптические кабели различного назначения, доставка по всей России - ООО «Спарта», звоните +7 920 073 17 45">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="https://sparta-vt.ru/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://sparta-vt.ru/custom/my/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://sparta-vt.ru/custom/my/libs/OwlCarousel2/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="https://sparta-vt.ru/custom/my/libs/OwlCarousel2/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="https://sparta-vt.ru/custom/my/libs/slick/slick.css">
    <link rel="stylesheet" href="https://sparta-vt.ru/custom/my/libs/hamburgers/hamburgers.css">
    <link rel="stylesheet" href="https://sparta-vt.ru/custom/my/libs/wow/css/libs/animate.css">
    <link href="https://sparta-vt.ru/adm/css/errors.css" rel="stylesheet" type="text/css">
    <link href="https://sparta-vt.ru/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css">
    <link href="https://sparta-vt.ru/css/default.css" rel="stylesheet" type="text/css">
    <link href="https://sparta-vt.ru/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://sparta-vt.ru/custom/my/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://sparta-vt.ru/custom/my/css/media.css" rel="stylesheet" type="text/css">
    <link href="/custom/my/assets/css/main.css" rel="stylesheet" type="text/css">
    <meta name="yandex-verification" content="8456551fd1a79b56"/>
    <meta name="google-site-verification" content="aurHFfSVjJZf9kgIzryayfbE9n5CXAPqyKjWCNRODlU"/>
</head>
<body>
<header>
    <div class="header_top">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
            </div>
        </div>
    </div>
    <div class="header_middle">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <img src="https://sparta-vt.ru/custom/my/img/logo.png" alt="ООО «Спарта»" width="128" height="116">
                <div class="slogan_2">
                    <p><span style="color: #691d1d; font-size: 14pt;"><strong>Официальный дистрибьютор</strong></span>
                    </p>
                    <p>&nbsp;</p>
                    <p>Материалы для строительства и ремонта&nbsp;</p>
                    <p>линий связи, оптический кабель.</p>
                </div>
                <div class="phone_block">
                    <a href='tel:8 800 222 20 27' class="phone d-none d-md-inline-block">8 800 222 20 27
                    </a><br>
                    <p>(звонок бесплатный)</p>
                    <a href="" class="btn_callback btn" data-toggle="modal" data-target="#callback">Заказать звонок</a>
                </div>
                <a href="https://ssd.ru" target="_blank" rel="noindex, nofollow"/><img
                    src="https://sparta-vt.ru/userfls/bs/ssd001.jpg"/></a>
                <a href="https://rexantrussia.ru/" target="_blank" rel="noindex, nofollow"/><img
                    src="https://sparta-vt.ru/userfls/bs/logo_rex.jpg"/></a>
                <div class="block_info">
                    <span class="cart_block top-line-item"><span id="show_cart" class="js_show_cart"><a
                            href="https://sparta-vt.ru/shop/cart/?169693"><i
                            class="fa fa-shopping-cart"></i><span>0</span></a></span></span>
                </div>
                <div class="mob_block_icon d-lg-none">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="mob_block">
                    <a class="mail d-block" href='mailto:sparta@sparta-vt.nnov.ru'>
                        sparta@sparta-vt.nnov.ru
                    </a>
                    <a href='tel:8 800 222 20 27' class="phone phone_mob">
                        8 800 222 20 2934
                    </a>
                    <a href='tel:<p>(звонок бесплатный)</p>' class="phone phone_2">
                        <p>(звонок бесплатный)</p>
                    </a>
                    <a href="" class="btn_callback" data-toggle="modal" data-target="#callback">Перезвонить Вам?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header_menu">
        <div class="container">
            <div class="mob_menu d-block d-md-none text-white"><i class="fas fa-bars"></i></div>
            <ul id="top-menu">
                <li class="parent"><a href="https://sparta-vt.ru/o-kompanii/">О компании</a>
                    <ul class="menu">
                        <li><a href="https://sparta-vt.ru/o-kompanii/sertifikaty/">Сертификаты</a></li>
                        <li><a href="https://sparta-vt.ru/video/">Видео</a></li>
                    </ul>
                </li>
                <li class="parent"><a href="https://sparta-vt.ru/shop/">Продукция</a>
                    <ul class="menu">
                        <li><a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/">Инженерные
                            инфраструктуры связи, энергетики, водоотведения</a>
                            <ul>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/zhelezobetonnye-izdeliya-dlya-kabelnoy-kanalizatsi/">Железобетонные
                                        смотровые устройства (колодцы) для сетей связи</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/polimernye-smotrovye-ustroystva-dlya-kabelnoy-kana/">Полимерные
                                        смотровые устройства различного назначения</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/plity-dlya-stroitelstva-setey-svyazi/">Плиты
                                        для строительства сетей связи</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/koltsa-zhelezobetonnye/">Кольца
                                        железобетонные</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-inzhenernoy-infrastruktury/truby-i-aksessuary-razlichnogo-naznacheniya/">Трубы
                                        и аксессуары различного назначения</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/osnaschenie-kolodtsev-kabelnoy-kanalizatsii/">Люки
                                        и комплектующие колодцев для строительства связи и энергетики</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/lyuki-iz-vchshg/">Люки
                                        из ВЧШГ для строительство сетей водоснабжения и канализации</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/lyuki-iz-serogo-chuguna-sch/">Люки
                                        из серого чугуна (СЧ) для строительство сетей водоснабжения и канализации</a>
                                </li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/dozhdepriemniki-i-reshetki/">Дождеприемники
                                        для ливневой канализации</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/zapornye-ustroystva-i-komplektuyuschie-dlya-lyukov/">Запорные
                                        устройства и комплектующие для люков при строительстве сетей водоснабжения и
                                        канализации</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/spetsialnyy-inventar-dlya-svyazistov-lineyschikov/">Специальный
                                        инвентарь для монтажа кабеля</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/sredstva-ograzhdeniya-i-opovescheniya/">Средства
                                        ограждения и оповещения</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/izdeliya-dlya-obschegrazhdanskogo-stroitelstva/">Фундаменты
                                        бетонные и железобетонные</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-inzhenernoy-infrastruktury/zazemlenie-i-molniezaschita/">Заземление
                                        и молниезащита зданий</a></li>
                            </ul>
                        </li>
                        <li><a href="https://sparta-vt.ru/shop/montazh-i-izmerenie-mednozhilnykh-kabeley-svyazi/">Монтаж
                            кабелей связи и энергетики</a>
                            <ul>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmerenie-mednozhilnykh-kabeley-svyazi/mufty-dlya-kabeley-s-obolochkami-iz-svintsa-alyumi/">Муфты
                                        для кабелей с оболочками из свинца, алюминия или стали</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmerenie-mednozhilnykh-kabeley-svyazi/mufty-dlya-zheleznykh-dorog/">Муфты
                                        для кабелей связи на объектах РЖД</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmerenie-mednozhilnykh-kabeley-svyazi/mufty-dlya-kabeley-s-obolochkami-iz-polietilena/">Муфты
                                        для кабелей с оболочками из полиэтилена</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmerenie-mednozhilnykh-kabeley-svyazi/montazhnye-materialy-dlya-raboty-s-elektricheskimi/">Монтажные
                                        материалы для работы с электрическими кабелями связи</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmerenie-mednozhilnykh-kabeley-svyazi/okonechnye-ustroystva-dlya-elektricheskikh-kabeley/">Оконечные
                                        устройства для электрических кабелей связи</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmerenie-mednozhilnykh-kabeley-svyazi/pribory-i-instrumenty-dlya-raboty-s-elektricheskim/">Приборы
                                        и инструменты для работы с электрическими кабелями связи</a></li>
                            </ul>
                        </li>
                        <li><a href="https://sparta-vt.ru/shop/vols/">Оптоволоконный кабель связи (ВОЛС)</a></li>
                        <li><a href="https://sparta-vt.ru/shop/montazh-i-izmereniya-opticheskikh-kabeley-svyazi/">Инструмент
                            и оборудование для монтажа оптических кабелей (ВОЛС)</a>
                            <ul>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmereniya-opticheskikh-kabeley-svyazi/mufty-dlya-opticheskikh-kabeley/">Муфты
                                        для оптических кабелей</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmereniya-opticheskikh-kabeley-svyazi/krossy-i-shkafy-opticheskie/">Кроссы
                                        и шкафы оптические</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmereniya-opticheskikh-kabeley-svyazi/komponenty-opticheskikh-setey/">Компоненты
                                        оптических сетей</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmereniya-opticheskikh-kabeley-svyazi/pribory-i-instrumenty-dlya-vols/">Приборы
                                        для работы с ВОЛС</a></li>
                                <li>
                                    <a href="https://sparta-vt.ru/shop/montazh-i-izmereniya-opticheskikh-kabeley-svyazi/armatura-dlya-podveski-opticheskikh-kabeley/">Арматура
                                        для подвески оптических кабелей</a></li>
                                <li><a href="https://sparta-vt.ru/shop/vols/">Оптоволоконный (волоконно-оптический)
                                    кабель</a></li>
                                <li><a href="https://sparta-vt.ru/shop/vols/aksessuary/">Аксессуары для оптического
                                    кабеля</a></li>
                            </ul>
                        </li>
                        <li><a href="https://sparta-vt.ru/shop/montazh-strukturirovannykh-kabelnykh-sistem/">Монтаж
                            структурированных кабельных систем</a></li>
                    </ul>
                </li>
                <li><a href="https://sparta-vt.ru/dostavka/">Доставка и оплата</a></li>
                <li class="parent"><a href="https://sparta-vt.ru/informatsiya-dlya-klienta/">Информация для клиента</a>
                    <ul class="menu">
                        <li><a href="https://sparta-vt.ru/news/">Новости</a></li>
                        <li><a href="https://sparta-vt.ru/rabota-s-gosudarstvennymi-zakazchikami-44-f3-i-223/">Участие в
                            тендерах на госзаказы</a></li>
                        <li><a href="https://sparta-vt.ru/custom/my/files/akcii-01.03.23.pdf">Распродажа</a></li>
                    </ul>
                </li>
                <li><a href="https://sparta-vt.ru/kontakty/">Контакты</a></li>
                <li>
                    <div class="btn_search"><i class="fas fa-search"></i></div>
                    <div class="navigation-block__search">
                        <form class="form" method="get" action="https://sparta-vt.ru/search/">
                            <input type="hidden" name="module" value="search">
                            <div class="control ">
                                <input class="input" type="text" name="searchword" placeholder="Поиск по сайту">
                            </div>
                            <button class="button" type="submit" title="Найти">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="new-year"></div>
</header>
<div class="modal modal_login fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="Вход на сайт"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <a class="modal-close fas fa-times" href="javascript:void(0)" data-dismiss="modal" aria-label="Close"
               title="Закрыть"></a>
            <form method="post" action="" class="form ajax" onsubmit="ym(67725706,`reachGoal`,`vhod-lk`)">
                <input type="hidden" name="action" value="auth">
                <input type="hidden" name="module" value="registration">
                <input type="hidden" name="form_tag" value="registration_auth">
                <div class="form__header">
                    <div class="h2 green text-center">Вход на сайт</div>
                </div>
                <div class="control">
                    <input type="text" name="name" autocomplete="off" placeholder="Имя пользователя*">
                </div>
                <div class="control">
                    <input type="password" name="pass" autocomplete="off" placeholder="Пароль*">
                </div>
                <div class="form__footer text">
                    <button class="button">Войти</button>
                    <ul>
                        <li><a href="https://sparta-vt.ru/registration/">Регистрация</a></li>
                        <li><a href="https://sparta-vt.ru/reminding/">Напомнить пароль</a></li>
                    </ul>
                </div>
                <div class="errors error" style="display:none"></div>
            </form>
        </div>
    </div>
</div>
