


    <div class="container container_main_cart">
        <h2>Популярные товары</h2>


        <div class="shop-pane row">
            <div class="col-md-6 col-xl-4">
                <div class="js_shop shop-item shop">
                    <div class="shop_article"><span class="shop_article_value">110104-00020</span></div>
                    <div class="shop_img shop-photo"><a href="https://sparta-vt.ru/shop/kolodets-kktm-2-ssd/"><img
                            src="https://sparta-vt.ru/userfls/shop/small/100/product_53978_1310_01.jpg"
                            alt="Колодец ККТМ-2-ССД" title="Колодец ККТМ-2-ССД" image_id="311455"
                            class="js_shop_img"><span class="shop-photo-labels"><img
                            src="https://sparta-vt.ru/img/label_hot.png"/></span></a></div>
                    <a href="https://sparta-vt.ru/shop/kolodets-kktm-2-ssd/" class="shop-item-title">Колодец
                        ККТМ-2-ССД</a><strong class="">Материал</strong>: Полиэтилен среднего давления<br><strong
                        class="">Масса, кг</strong>: 9<br><strong class="">Диаметр отверстия, мм</strong>:
                    335<br><strong class="">Кол-во площадок для ввода трубы, шт.</strong>: 8<br><strong class="">Рабочая
                    температура, С°</strong>: -40…+60<br><strong class="">Высота, мм</strong>: 620<br><strong class="">Диаметр,
                    мм</strong>: 575<br>
                    <form method="post" action="" class="js_shop_form shop_form ajax">
                        <input type="hidden" name="good_id" value="1310">
                        <input type="hidden" name="module" value="shop">
                        <input type="hidden" name="action" value="">
                        <form method="post" action="" class="js_shop_form shop_form ajax">
                            <input type="hidden" name="good_id" value="1310">
                            <input type="hidden" name="module" value="shop">
                            <input type="hidden" name="action" value="">
                            <input type="hidden" name="ajax" value="">
                            <div class="js_shop_form_param shop_form_param"></div>
                            <div class="shop_price"><span class="nal">в наличии</span><span><span
                                    style="color: #000;font-weight:600;">Розничная цена</span><br><span
                                    class="shop_price_value">9199.2</span> <span
                                    class="shop_price_currency">₽</span></span></div>
                            <div class="info_block_buy">
                                <div class="js_shop_buy shop_buy to-cart"><input type="text" value="1" name="count"
                                                                                 class="number"
                                                                                 pattern="[0-9]+([\.|,][0-9]+)?"
                                                                                 step="any"> шт
                                    <button type="button" class="button solid" action="buy"><i
                                            class="fas fa-shopping-cart"></i></button>
                                </div>
                                <div class="error"></div>
                        </form>
                        <div class="js_cart_one_click cart_one_click" style="display:none">
                            <form method="POST" action="" class="js_cart_one_click_form cart_one_click_form ajax"
                                  enctype="multipart/form-data">
                                <input type="hidden" name="module" value="cart">
                                <input type="hidden" name="action" value="one_click">
                                <input type="hidden" name="form_tag" value="cart_one_click">
                                <input type="hidden" name="good_id" value="1310">
                                <input type="hidden" name="tmpcode" value="1a0a283bfe7c549dee6c638a05200e32">
                                <div>Наш менеджер свяжется с Вами в течение 15 минут и согласует персональную цену.
                                </div>
                                <br>
                                <div class="order_form_param3"><input type="tel" name="p3" value=""
                                                                      placeholder="Контактные телефоны">
                                    <div class="order_form_param_text"></div>
                                </div>
                                <div class="errors error_p3" style="display:none"></div>
                                <input type="button" class="btn" value="Отправить">
                                <div class="errors error" style="display:none"></div>
                                <div class="privacy_field">Отправляя форму, я даю согласие на <a
                                        href="https://sparta-vt.ru/privacy/">обработку персональных данных</a>.
                                </div>
                            </form>
                        </div>
                        <span class="js_shop_wishlist shop_wishlist shop-like"><i class="fa fa-heart"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="js_shop shop-item shop">
                <div class="shop_article"><span class="shop_article_value">130106-00485</span></div>
                <div class="shop_img shop-photo"><a href="https://sparta-vt.ru/shop/kronshteyn-dlya-mtok-l6-l7/"><img
                        src="https://sparta-vt.ru//userfls/shop/small/100/product_61219_366_01.jpg"
                        alt="Кронштейн для МТОК Л6, Л7" title="Кронштейн для МТОК Л6, Л7" image_id="328211"
                        class="js_shop_img"><span class="shop-photo-labels"><img
                        src="https://sparta-vt.ru/img/label_hot.png"/></span></a></div>
                <a href="https://sparta-vt.ru/shop/kronshteyn-dlya-mtok-l6-l7/" class="shop-item-title">Кронштейн для
                    МТОК Л6, Л7</a><strong class="">Материал</strong>: Cталь<br><strong class="">Масса, кг</strong>: 0,4<br><strong
                    class="">Покрытие</strong>: Цинк/порошковая окраска<br>
                <form method="post" action="" class="js_shop_form shop_form ajax">
                    <input type="hidden" name="good_id" value="366">
                    <input type="hidden" name="module" value="shop">
                    <input type="hidden" name="action" value="">
                    <form method="post" action="" class="js_shop_form shop_form ajax">
                        <input type="hidden" name="good_id" value="366">
                        <input type="hidden" name="module" value="shop">
                        <input type="hidden" name="action" value="">
                        <input type="hidden" name="ajax" value="">
                        <div class="js_shop_form_param shop_form_param"></div>
                        <div class="shop_price"><span class="nal">в наличии</span><span><span
                                style="color: #000;font-weight:600;">Розничная цена</span><br><span
                                class="shop_price_value">469.2</span> <span class="shop_price_currency">₽</span></span>
                        </div>
                        <div class="info_block_buy">
                            <div class="js_shop_buy shop_buy to-cart"><input type="text" value="1" name="count"
                                                                             class="number"
                                                                             pattern="[0-9]+([\.|,][0-9]+)?" step="any">
                                шт
                                <button type="button" class="button solid" action="buy"><i
                                        class="fas fa-shopping-cart"></i></button>
                            </div>
                            <div class="error"></div>
                    </form>
                    <div class="js_cart_one_click cart_one_click" style="display:none">
                        <form method="POST" action="" class="js_cart_one_click_form cart_one_click_form ajax"
                              enctype="multipart/form-data">
                            <input type="hidden" name="module" value="cart">
                            <input type="hidden" name="action" value="one_click">
                            <input type="hidden" name="form_tag" value="cart_one_click">
                            <input type="hidden" name="good_id" value="366">
                            <input type="hidden" name="tmpcode" value="b97f138920c54acf5eb77d23bc318b12">
                            <div>Наш менеджер свяжется с Вами в течение 15 минут и согласует персональную цену.</div>
                            <br>
                            <div class="order_form_param3"><input type="tel" name="p3" value=""
                                                                  placeholder="Контактные телефоны">
                                <div class="order_form_param_text"></div>
                            </div>
                            <div class="errors error_p3" style="display:none"></div>
                            <input type="button" class="btn" value="Отправить">
                            <div class="errors error" style="display:none"></div>
                            <div class="privacy_field">Отправляя форму, я даю согласие на <a
                                    href="https://sparta-vt.ru/privacy/">обработку персональных данных</a>.
                            </div>
                        </form>
                    </div>
                    <span class="js_shop_wishlist shop_wishlist shop-like"><i class="fa fa-heart"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="js_shop shop-item shop">
            <div class="shop_img shop-photo"><a
                    href="https://sparta-vt.ru/shop/saranskkabel/kabel-opticheskiy-okms-16-g652d-6kn/"><img
                    src="https://sparta-vt.ru/userfls/shop/small/9/86404_kabel-opticheskiy-okms-8g652d-6kn.png"
                    alt="Кабель оптический ОКМС-16 (G.652.D) 6кН " title="Кабель оптический ОКМС-16 (G.652.D) 6кН "
                    image_id="86406" class="js_shop_img"><span class="shop-photo-labels"><img
                    src="https://sparta-vt.ru/img/label_hot.png"/><img
                    src="https://sparta-vt.ru/img/label_new.png"/></span></a></div>
            <a href="https://sparta-vt.ru/shop/saranskkabel/kabel-opticheskiy-okms-16-g652d-6kn/"
               class="shop-item-title">Кабель оптический ОКМС-16 (G.652.D) 6кН </a><strong class="">Количество
            волокон</strong>: 16<br><strong class="">Минимальный радиус изгиба ОК, мм</strong>: 188<br><strong class="">Допустимая
            растягивающая нагрузка, кН</strong>: 6<br><strong class="">Допустимая раздавливающая нагрузка, Н/см</strong>:
            300<br><strong class="">Тип волокон</strong>: G.652.D<br><strong class="">Производитель ОВ</strong>: Corning<br><strong
                class="">Номинальный наружный диаметр ОК, мм</strong>: 9,4<br><strong class="">Рабочая температура,
            °С</strong>: -60…+70<br><strong class="">Температура монтажа, °С</strong>: -30…+50<br><strong class="">Транспортировка
            и хранение, °С</strong>: -60…+70<br><strong class="">Срок службы, лет</strong>: 25<br><strong class="">Масса
            ОК, кг/км</strong>: 77<br>
            <form method="post" action="" class="js_shop_form shop_form ajax">
                <input type="hidden" name="good_id" value="9858">
                <input type="hidden" name="module" value="shop">
                <input type="hidden" name="action" value=""><a href="" data-toggle="modal" data-target="#callback"
                                                               class="btn" style="margin:0 15px 5px;font-size:12px;">Уточнить
                у менеджера</a>
                <div class="info_block_buy">
                    <div class="js_cart_one_click cart_one_click" style="display:none">
                        <form method="POST" action="" class="js_cart_one_click_form cart_one_click_form ajax"
                              enctype="multipart/form-data">
                            <input type="hidden" name="module" value="cart">
                            <input type="hidden" name="action" value="one_click">
                            <input type="hidden" name="form_tag" value="cart_one_click">
                            <input type="hidden" name="good_id" value="9858">
                            <input type="hidden" name="tmpcode" value="fc9b003bb003a298c2ad0d05e4342bdc">
                            <div>Наш менеджер свяжется с Вами в течение 15 минут и согласует персональную цену.</div>
                            <br>
                            <div class="order_form_param3"><input type="tel" name="p3" value=""
                                                                  placeholder="Контактные телефоны">
                                <div class="order_form_param_text"></div>
                            </div>
                            <div class="errors error_p3" style="display:none"></div>
                            <input type="button" class="btn" value="Отправить">
                            <div class="errors error" style="display:none"></div>
                            <div class="privacy_field">Отправляя форму, я даю согласие на <a
                                    href="https://sparta-vt.ru/privacy/">обработку персональных данных</a>.
                            </div>
                        </form>
                    </div>
                    <span class="js_shop_wishlist shop_wishlist shop-like"><i class="fa fa-heart"></i></span></div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="js_shop shop-item shop">
            <div class="shop_article"><span class="shop_article_value">130408-00052</span></div>
            <div class="shop_img shop-photo"><a href="https://sparta-vt.ru/shop/mko-p1a-10sc-kompl-s-8-scapc/"><img
                    src="https://sparta-vt.ru/userfls/shop/small/100/product_30475_345_01.jpg"
                    alt="МКО-П1/A 10SC (компл. с 8 SC/APC)" title="МКО-П1/A 10SC (компл. с 8 SC/APC)" image_id="310404"
                    class="js_shop_img"><span class="shop-photo-labels"><img
                    src="https://sparta-vt.ru/img/label_hot.png"/></span></a></div>
            <a href="https://sparta-vt.ru/shop/mko-p1a-10sc-kompl-s-8-scapc/" class="shop-item-title">МКО-П1/A 10SC
                (компл. с 8 SC/APC)</a><strong class="">Масса, кг</strong>: 0,6<br><strong class="">- ширина,
            мм</strong>: 159<br><strong class="">- длина, мм</strong>: 247<br><strong class="">- высота, мм</strong>: 46<br>
            <form method="post" action="" class="js_shop_form shop_form ajax">
                <input type="hidden" name="good_id" value="345">
                <input type="hidden" name="module" value="shop">
                <input type="hidden" name="action" value="">
                <form method="post" action="" class="js_shop_form shop_form ajax">
                    <input type="hidden" name="good_id" value="345">
                    <input type="hidden" name="module" value="shop">
                    <input type="hidden" name="action" value="">
                    <input type="hidden" name="ajax" value="">
                    <div class="js_shop_form_param shop_form_param"></div>
                    <div class="shop_price"><span class="nal">в наличии</span><span><span
                            style="color: #000;font-weight:600;">Розничная цена</span><br><span
                            class="shop_price_value">1520.4</span> <span class="shop_price_currency">₽</span></span>
                    </div>
                    <div class="info_block_buy">
                        <div class="js_shop_buy shop_buy to-cart"><input type="text" value="1" name="count"
                                                                         class="number" pattern="[0-9]+([\.|,][0-9]+)?"
                                                                         step="any"> шт
                            <button type="button" class="button solid" action="buy"><i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                        <div class="error"></div>
                </form>
                <div class="js_cart_one_click cart_one_click" style="display:none">
                    <form method="POST" action="" class="js_cart_one_click_form cart_one_click_form ajax"
                          enctype="multipart/form-data">
                        <input type="hidden" name="module" value="cart">
                        <input type="hidden" name="action" value="one_click">
                        <input type="hidden" name="form_tag" value="cart_one_click">
                        <input type="hidden" name="good_id" value="345">
                        <input type="hidden" name="tmpcode" value="2406a0a94c80406914ff2f6c9fdd67d5">
                        <div>Наш менеджер свяжется с Вами в течение 15 минут и согласует персональную цену.</div>
                        <br>
                        <div class="order_form_param3"><input type="tel" name="p3" value=""
                                                              placeholder="Контактные телефоны">
                            <div class="order_form_param_text"></div>
                        </div>
                        <div class="errors error_p3" style="display:none"></div>
                        <input type="button" class="btn" value="Отправить">
                        <div class="errors error" style="display:none"></div>
                        <div class="privacy_field">Отправляя форму, я даю согласие на <a
                                href="https://sparta-vt.ru/privacy/">обработку персональных данных</a>.
                        </div>
                    </form>
                </div>
                <span class="js_shop_wishlist shop_wishlist shop-like"><i class="fa fa-heart"></i></span>
        </div>
    </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="js_shop shop-item shop">
            <div class="shop_article"><span class="shop_article_value">130103-00905</span></div>
            <div class="shop_img shop-photo"><a
                    href="https://sparta-vt.ru/shop/montazh-i-izmereniya-opticheskikh-kabeley-svyazi/mufty-dlya-opticheskikh-kabeley/mufta-mtok-l748-1ks1645-k-ssd/"><img
                    src="/userfls/shop/small/100/product_61997_1590_01.jpg" alt="Муфта МТОК-Л7/48-1КС1645-К ССД"
                    title="Муфта МТОК-Л7/48-1КС1645-К ССД" image_id="327263" class="js_shop_img"><span
                    class="shop-photo-labels"><img src="https://sparta-vt.ru/img/label_hot.png"/></span></a></div>
            <a href="https://sparta-vt.ru/shop/montazh-i-izmereniya-opticheskikh-kabeley-svyazi/mufty-dlya-opticheskikh-kabeley/mufta-mtok-l748-1ks1645-k-ssd/"
               class="shop-item-title">Муфта МТОК-Л7/48-1КС1645-К ССД</a><strong class="">Масса, кг</strong>:
            1,2<br><strong class="">- длина, мм</strong>: 324<br><strong class="">- диаметр, мм</strong>: 188<br>
            <form method="post" action="" class="js_shop_form shop_form ajax">
                <input type="hidden" name="good_id" value="1590">
                <input type="hidden" name="module" value="shop">
                <input type="hidden" name="action" value="">
                <form method="post" action="" class="js_shop_form shop_form ajax">
                    <input type="hidden" name="good_id" value="1590">
                    <input type="hidden" name="module" value="shop">
                    <input type="hidden" name="action" value="">
                    <input type="hidden" name="ajax" value="">
                    <div class="js_shop_form_param shop_form_param"></div>
                    <div class="shop_price"><span class="nal">в наличии</span><span><span
                            style="color: #000;font-weight:600;">Розничная цена</span><br><span
                            class="shop_price_value">1249.2</span> <span class="shop_price_currency">₽</span></span>
                    </div>
                    <div class="info_block_buy">
                        <div class="js_shop_buy shop_buy to-cart"><input type="text" value="1" name="count"
                                                                         class="number" pattern="[0-9]+([\.|,][0-9]+)?"
                                                                         step="any"> шт
                            <button type="button" class="button solid" action="buy"><i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                        <div class="error"></div>
                </form>
                <div class="js_cart_one_click cart_one_click" style="display:none">
                    <form method="POST" action="" class="js_cart_one_click_form cart_one_click_form ajax"
                          enctype="multipart/form-data">
                        <input type="hidden" name="module" value="cart">
                        <input type="hidden" name="action" value="one_click">
                        <input type="hidden" name="form_tag" value="cart_one_click">
                        <input type="hidden" name="good_id" value="1590">
                        <input type="hidden" name="tmpcode" value="7a0c1035bcb33b6d86942ecbedb37267">
                        <div>Наш менеджер свяжется с Вами в течение 15 минут и согласует персональную цену.</div>
                        <br>
                        <div class="order_form_param3"><input type="tel" name="p3" value=""
                                                              placeholder="Контактные телефоны">
                            <div class="order_form_param_text"></div>
                        </div>
                        <div class="errors error_p3" style="display:none"></div>
                        <input type="button" class="btn" value="Отправить">
                        <div class="errors error" style="display:none"></div>
                        <div class="privacy_field">Отправляя форму, я даю согласие на <a
                                href="https://sparta-vt.ru/privacy/">обработку персональных данных</a>.
                        </div>
                    </form>
                </div>
                <span class="js_shop_wishlist shop_wishlist shop-like"><i class="fa fa-heart"></i></span>
        </div>
    </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="js_shop shop-item shop">
            <div class="shop_article"><span class="shop_article_value">110101-00014</span></div>
            <div class="shop_img shop-photo"><a href="https://sparta-vt.ru/shop/kksr-2-1080-gek-ssd-v20-trotuardoroga/"><img
                    src="/userfls/shop/small/100/product_53602_320_01.jpg"
                    alt="ККСр-2-10(80) ГЕК-ССД (В20) (Тротуар/Дорога)"
                    title="ККСр-2-10(80) ГЕК-ССД (В20) (Тротуар/Дорога)" image_id="325025" class="js_shop_img"><span
                    class="shop-photo-labels"><img src="https://sparta-vt.ru/img/label_hot.png"/></span></a></div>
            <a href="https://sparta-vt.ru/shop/kksr-2-1080-gek-ssd-v20-trotuardoroga/" class="shop-item-title">ККСр-2-10(80)
                ГЕК-ССД (В20) (Тротуар/Дорога)</a><strong class="">Масса, кг</strong>: 1355<br><strong class="">-
            B</strong>: 1030<br><strong class="">- H</strong>: 1560<br><strong class="">- L</strong>: 1350<br>
            <form method="post" action="" class="js_shop_form shop_form ajax">
                <input type="hidden" name="good_id" value="320">
                <input type="hidden" name="module" value="shop">
                <input type="hidden" name="action" value="">
                <form method="post" action="" class="js_shop_form shop_form ajax">
                    <input type="hidden" name="good_id" value="320">
                    <input type="hidden" name="module" value="shop">
                    <input type="hidden" name="action" value="">
                    <input type="hidden" name="ajax" value="">
                    <div class="js_shop_form_param shop_form_param"></div>
                    <div class="shop_price"><span class="nal">в наличии</span><span><span
                            style="color: #000;font-weight:600;">Розничная цена</span><br><span
                            class="shop_price_value">16869.6</span> <span class="shop_price_currency">₽</span></span>
                    </div>
                    <div class="info_block_buy">
                        <div class="js_shop_buy shop_buy to-cart"><input type="text" value="1" name="count"
                                                                         class="number" pattern="[0-9]+([\.|,][0-9]+)?"
                                                                         step="any"> шт
                            <button type="button" class="button solid" action="buy"><i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                        <div class="error"></div>
                </form>
                <div class="js_cart_one_click cart_one_click" style="display:none">
                    <form method="POST" action="" class="js_cart_one_click_form cart_one_click_form ajax"
                          enctype="multipart/form-data">
                        <input type="hidden" name="module" value="cart">
                        <input type="hidden" name="action" value="one_click">
                        <input type="hidden" name="form_tag" value="cart_one_click">
                        <input type="hidden" name="good_id" value="320">
                        <input type="hidden" name="tmpcode" value="d9d4f495e875a2e075a1a4a6e1b9770f">
                        <div>Наш менеджер свяжется с Вами в течение 15 минут и согласует персональную цену.</div>
                        <br>
                        <div class="order_form_param3"><input type="tel" name="p3" value=""
                                                              placeholder="Контактные телефоны">
                            <div class="order_form_param_text"></div>
                        </div>
                        <div class="errors error_p3" style="display:none"></div>
                        <input type="button" class="btn" value="Отправить">
                        <div class="errors error" style="display:none"></div>
                        <div class="privacy_field">Отправляя форму, я даю согласие на <a
                                href="https://sparta-vt.ru/privacy/">обработку персональных данных</a>.
                        </div>
                    </form>
                </div>
                <span class="js_shop_wishlist shop_wishlist shop-like"><i class="fa fa-heart"></i></span>
        </div>
    </div>
    </div></div></div>
    <style>
        .container_main_cart .shop-item {
            background: #fff;
        }
    </style>
    <div class="container container_two_ban">
        <div class="row">
            <div class="col-lg-6 red">
                <h2>Распродажа</h2>
                <form method="POST" enctype="multipart/form-data" action="" class="ajax js_bs_form bs_form">
                    <input type="hidden" name="module" value="bs">
                    <input type="hidden" name="action" value="click">
                    <input type="hidden" name="banner_id" value="0">
                </form>
                <div class="bs_block position-relative"><a
                        href="https://sparta-vt.ru/custom/my/files/akcii-01.03.23.pdf" class="js_bs_counter bs_counter"
                        rel="4"><img src="https://sparta-vt.ru/userfls/bs/ban1_4.png" alt="" title="">
                    <div class="name_two_ban position-absolute">Акционные товары</div>
                    <div class="text_two_ban position-absolute">
                        <div class="name_ban_cart" style="margin-left:-20px;"><span style="color: #ffffff;">на нашем сайте</span>
                        </div>
                    </div>
                </a></div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container container_catalog position-relative">
        <div class="main-box-title">
            <h2>Продукция компании</h2>
            <a class="btn_border--red" href="/shop/">смотреть всю продукцию</a>
        </div>

        <div class="shop_brand_block owl-carousel">
            <div class="shop_category">
                <div class="shop_category_img"><a
                        href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/"><img
                        src="/userfls/shop/large/3325_stroitelstvo-obektov-inf.png" width="286" height="191"
                        alt="Инженерные инфраструктуры связи, энергетики, водоотведения"
                        title="Инженерные инфраструктуры связи, энергетики, водоотведения"></a></div>
                <a href="https://sparta-vt.ru/shop/stroitelstvo-obektov-infrastruktury-svyazi/"
                   class="shop_category_name">Инженерные инфраструктуры связи, энергетики, водоотведения</a></div>
            <div class="shop_category">
                <div class="shop_category_img"><a
                        href="https://sparta-vt.ru/shop/montazh-i-izmerenie-mednozhilnykh-kabeley-svyazi/"><img
                        src="/userfls/shop/large/3323_montazh-i-izmerenie-mednozhi.png" width="237" height="168"
                        alt="Монтаж кабелей связи и энергетики" title="Монтаж кабелей связи и энергетики"></a></div>
                <a href="https://sparta-vt.ru/shop/montazh-i-izmerenie-mednozhilnykh-kabeley-svyazi/"
                   class="shop_category_name">Монтаж кабелей связи и энергетики</a></div>
            <div class="shop_category">
                <div class="shop_category_img"><a
                        href="https://sparta-vt.ru/shop/montazh-i-izmereniya-opticheskikh-kabeley-svyazi/"><img
                        src="/userfls/shop/large/3324_montazh-i-izmereniya-optiches.png" width="238" height="158"
                        alt="Инструмент и оборудование для монтажа оптических кабелей (ВОЛС)"
                        title="Инструмент и оборудование для монтажа оптических кабелей (ВОЛС)"></a></div>
                <a href="https://sparta-vt.ru/shop/montazh-i-izmereniya-opticheskikh-kabeley-svyazi/"
                   class="shop_category_name">Инструмент и оборудование для монтажа оптических кабелей (ВОЛС)</a></div>
            <div class="shop_category">
                <div class="shop_category_img"><a
                        href="https://sparta-vt.ru/shop/montazh-strukturirovannykh-kabelnykh-sistem/"><img
                        src="/userfls/shop/large/5/47532_kommutatory--marshrutizatory-d-link.jpg" width="1094"
                        height="700" alt="Монтаж структурированных кабельных систем"
                        title="Монтаж структурированных кабельных систем"></a></div>
                <a href="https://sparta-vt.ru/shop/montazh-strukturirovannykh-kabelnykh-sistem/"
                   class="shop_category_name">Монтаж структурированных кабельных систем</a></div>
            <div class="shop_category">
                <div class="shop_category_img"><a href="https://sparta-vt.ru/shop/audio-video-tv/"><img
                        src="/userfls/shop/large/17/164336_audio---video---tv.jpg" width="800" height="600"
                        alt="Аудио - Видео - ТВ" title="Аудио - Видео - ТВ"></a></div>
                <a href="https://sparta-vt.ru/shop/audio-video-tv/" class="shop_category_name">Аудио - Видео - ТВ</a>
            </div>
            <div class="shop_category">
                <div class="shop_category_img"><a href="https://sparta-vt.ru/shop/vols/"><img
                        src="/userfls/shop/large/25/249781_optovolokonnyy-volokonno-opticheskiy-kabel.jpg" width="400"
                        height="229" alt="Оптоволоконный (волоконно-оптический) кабель"
                        title="Оптоволоконный (волоконно-оптический) кабель"></a></div>
                <a href="https://sparta-vt.ru/shop/vols/" class="shop_category_name">Оптоволоконный
                    (волоконно-оптический) кабель</a></div>
            <div class="shop_category">
                <div class="shop_category_img"><a href="https://sparta-vt.ru/shop/bezopasnost/"><img
                        src="/userfls/shop/large/17/164337_bezopasnost.jpg" width="880" height="500" alt="Безопасность"
                        title="Безопасность"></a></div>
                <a href="https://sparta-vt.ru/shop/bezopasnost/" class="shop_category_name">Безопасность</a></div>
            <div class="shop_category">
                <div class="shop_category_img"><a href="https://sparta-vt.ru/shop/izolyatsionnye-materialy/"><img
                        src="/userfls/shop/large/17/164338_izolyatsionnye-materialy.jpg" width="600" height="362"
                        alt="Изоляционные материалы" title="Изоляционные материалы"></a></div>
                <a href="https://sparta-vt.ru/shop/izolyatsionnye-materialy/" class="shop_category_name">Изоляционные
                    материалы</a></div>
            <div class="shop_category">
                <div class="shop_category_img"><a href="https://sparta-vt.ru/shop/instrumenty/"><img
                        src="/userfls/shop/large/17/164339_instrumenty.jpg" width="980" height="980" alt="Инструменты"
                        title="Инструменты"></a></div>
                <a href="https://sparta-vt.ru/shop/instrumenty/" class="shop_category_name">Инструменты</a></div>
            <div class="shop_category">
                <div class="shop_category_img"><a href="https://sparta-vt.ru/shop/krepezh-i-metizy/"><img
                        src="/userfls/shop/large/17/164340_krepezh-i-metizy.jpg" width="697" height="542"
                        alt="Крепеж и метизы" title="Крепеж и метизы"></a></div>
                <a href="https://sparta-vt.ru/shop/krepezh-i-metizy/" class="shop_category_name">Крепеж и метизы</a>
            </div>
            <div class="shop_category">
                <div class="shop_category_img"><a href="https://sparta-vt.ru/shop/elektrotekhnika/"><img
                        src="/userfls/shop/large/17/164341_elektrotekhnika.jpg" width="1000" height="667"
                        alt="Электротехника" title="Электротехника"></a></div>
                <a href="https://sparta-vt.ru/shop/elektrotekhnika/" class="shop_category_name">Электротехника</a></div>
            <div class="shop_category"><a href="https://sparta-vt.ru/shop/razobrat/" class="shop_category_name">Разобрать</a>
            </div>
        </div>
    </div>
    <div class="about_container">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h1>Компания ООО «Спарта» - кабельные системы и инфраструктура связи</h1>
                    <div class="about_text"><span>С 1994г. - Одно имя. Одна цель. Одна команда</span></div>
                    <p class="about_mini_text">ООО «Спарта» - это компания для специалистов в области монтажа и
                        обслуживания коммуникаций различного назначения.</p>
                    <p class="about_mini_text">
                        Наша компания осуществляет комплексные поставки материалов для строительства и ремонта линий
                        связи, а также волоконно-оптических кабелей различного назначения для предприятий ПФО и России.
                        Что подтверждается многолетним сотрудничеством с такими компаниями как «Ростелеком», «Газпром»,
                        «РЖД», «Транснефть», Министерство обороны и прочими крупными компаниями.
                    </p>
                    <p class="about_mini_text">
                        Мы уделяем особое внимание качеству продукции, подтвержденного на практике нашими деловыми
                        партнерами и предоставляем доступные цены на рынке телекоммуникационного оборудования.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container container_preim">
        <ul>
            <li class="preim_block">
                <div class="preim_block_img preim_block_img_1"></div>
                <div class="preim_block_title">Скорость</div>
                <div class="preim_block_text">Высокий профессионализм наших менеджеров позволяет обеспечить различные
                    варианты поставок в минимально короткие сроки
                </div>
            </li>
            <li class="preim_block">
                <div class="preim_block_img preim_block_img_4"></div>
                <div class="preim_block_title">Складской запас</div>
                <div class="preim_block_text">Наличие запасов по всем группам товаров. Еженедельное пополнение. ТМЦ.
                </div>
            </li>
            <li class="preim_block">
                <div class="preim_block_img preim_block_img_5"></div>
                <div class="preim_block_title">Качество</div>
                <div class="preim_block_text">Мы продаем надежные и качественные материалы, проверенные нашими
                    партнерами.
                </div>
            </li>
        </ul>
    </div>
    <div class="container_direct_gray">
        <div class="container_direct container_nina">
            <div class="direct_block_foto">
                <ul class="direct_block_list">
                    <li>Миссия компании</li>
                    <li>Качество</li>
                    <li>Сертификат</li>
                </ul>
                <div class="direct_block_name">
                    <b>Сеничкин Анатолий Николаевич</b>
                    директор компании
                </div>
            </div>
            <div class="direct_block_text">
                <div class="direct_block_title">От директора</div>
                <p style="font-size: 15px;">В 1994г., для обеспечения предприятий электросвязи Нижегородской области
                    материалами связи, была создана наша компания "Спарта". В дальнейшем границы деятельности компании
                    значительно расширились на ПФО и другие регионы России. Вот уже многие годы мы являемся официальными
                    дистрибьюторами ведущих российских и зарубежных производителей материалов и оборудования связи.
                    Например, в 2018, 2019 и 2020 г. компания "Спарта" является лучшим дистрибьютором компании
                    "Связьстройдеталь". Приоритетами нашей компании являются: качество продукции, наличие ее на складе,
                    индивидуальный подход и техническая поддержка каждого клиента.</p>
                <a href="https://sparta-vt.ru/o-kompanii/" class="btn_border--red">О компании</a><br>

                <a href="" class="direct_block_link_back btn_border--red" data-toggle="modal" data-target="#callback"><img
                        src="https://sparta-vt.ru/custom/my/img/note.png" alt="">Написать руководителю</a>
            </div>
        </div>
    </div>



    <div class="container container_news"><h2>Новости</h2><a class="btn_cat_link" href="/news/">все новости</a>
        <div class="row">
            <div class="col-md-4">
                <div class="news_block">
                    <div class="block-text">
                        <div class="news_date date">06 апр</div>
                        <div class="news_title"><a href="https://sparta-vt.ru/news/rasprodazha-kabeley-sip/"
                                                   class="black">Распродажа проводов СИП!</a></div>
                    </div>
                    <div class="news_anons anons"><p>Только 10 дней низкая цена на провода СИП-2 и СИП-4!</p></div>
                    <a href="https://sparta-vt.ru/news/rasprodazha-kabeley-sip/"
                       class="block-row-img position-relative"><img
                            src="/userfls/news/large/34/331284_rasprodazha-kabeley-sip.jpg" width="400" height="286"
                            alt="Распродажа проводов СИП!" title="Распродажа проводов СИП!" class="block-row-img"></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news_block">
                    <div class="block-text">
                        <div class="news_date date">21 мар</div>
                        <div class="news_title"><a
                                href="https://sparta-vt.ru/news/skidka-na-kabel-oksnm-08-10-01-022-7kn/" class="black">Скидка
                            на кабель ОКСНМ-0,8 10-01-0,22 7кН</a></div>
                    </div>
                    <div class="news_anons anons"><p>Скидка распространяется для всех новых клиентов до 31 марта</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news_block">
                    <div class="block-text">
                        <div class="news_date date">08 мар</div>
                        <div class="news_title"><a
                                href="https://sparta-vt.ru/news/pozdravlyaem-nashikh-dam-s-mezhdunarodnym-zhenskim/"
                                class="black">Поздравляем наших дам с 8 марта! </a></div>
                    </div>
                    <div class="news_anons anons"><p style="text-align: justify;">С 8 марта, дорогие женщины!</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clients_container">
        <div class="container"><p class="text-center"><span>Познакомьтесь с нашими клиентами </span><br>
            Нам доверяют компании,которые ценят свое время и качество продукции</p>
            <div class="clients_slider owl-carousel"><img src="https://sparta-vt.ru/userfls/bs/sloy-53_9.png" alt=""
                                                          title=""><img
                    src="https://sparta-vt.ru/userfls/bs/sloy-52_8.png" alt="" title=""><img
                    src="https://sparta-vt.ru/userfls/bs/clients_7.png" alt="" title=""><img
                    src="https://sparta-vt.ru/userfls/bs/sloy-50_6.png" alt="" title=""><img
                    src="https://sparta-vt.ru/userfls/bs/sloy-49_5.png" alt="" title=""></div>
        </div>
    </div>
    <div class="container_nina py-5" style="background-color: #f5f6f8;">
        <div class="container py-5" style="border-bottom: 2px solid #fef200;background-color: #fff;">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <p class="about_mini_text">ООО «Спарта» ведущий поставщик комплексных материалов для строительства и
                        ремонта объектов инфраструктуры, волокно-оптических кабелей различного направления, приборов и
                        инструментов для обслуживания систем связи. Нам доверяют крупные предприятия России и ПФО такие,
                        как: «Ростелеком», «Газпром», «РЖД», «Транснефть», «Связьстройдеталь» и Министерство
                        обороны.</p>
                    <p class="about_mini_text">Вся продукция имеет сертификат соответствия Министерства Связи РФ.
                        Команда наших профессионалов подберет все необходимые материала и оборудование, обеспечит прямые
                        поставки до вашего склада в сжатые сроки по оптимально-выгодной цене.</p>
                </div>
            </div>
        </div>
    </div>
    </div>

